<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>VandeskyRakitPC</title>
  <meta name="description" content="">
  <meta name="keywords" content="">

  <!-- Favicons -->
  <link href="static/img/logoVandeskyFavicon.png" rel="icon">
  <link href="static/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="static/vendor/aos/aos.css" rel="stylesheet">

  <!-- Main CSS File -->
  <link href="static/css/main.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Siimple
  * Template URL: https://bootstrapmade.com/free-bootstrap-landing-page/
  * Updated: Aug 07 2024 with Bootstrap v5.3.3
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body class="index-page">

  <header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid position-relative d-flex align-items-center justify-content-between">

      <a href="index.html" class="logo d-flex align-items-center">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <img src="static/img/logoVandeskyFavicon.png" alt="rakitpc">
        <h1 class="sitename">VandeskyRakitPC</h1>
      </a>

      <nav id="navmenu" class="navmenu">
        <ul>
          <li><a href="#beranda" class="active">Beranda</a></li>
          <li><a href="#rakitpc">Rakit PC</a></li>
          <li><a href="#anecdote">Kenapa di VandeskyRakitPC</a></li>
          <li><a href="#keuntungan">Keuntungan</a></li>
          <li><a href="#testimoni">Testimoni</a></li>
          <li><a href="#kelebihan">Kelebihan</a></li>
        </ul>
        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav>

    </div>
  </header>

  <main class="main">

    <!-- Beranda Section -->
    <section id="beranda" class="beranda section">

      <img src="static/img/heroBG.jpg" alt="rakitpc" data-aos="fade-in" class="">

      <div class="container text-center" data-aos="fade-up" data-aos-delay="100">
        <div class="row justify-content-center">

          <div class="logo">
            <img src="static/img/logoVandesky.png" alt="rakitpc" data-aos="fade-in" class="img-fluid">
          </div>

          <div class="col-lg-8">
            <h2>Solusi Rakit PC Yang Sesuai Dengan Kebutuhan dan Keinginan</h2>
            <h3><u>Build with Your Own Character</u></h3>
            <p>VandeskyRakitPC adalah jasa rakit PC yang sudah ada sejak 2016, yang mampu memenuhi kebutuhan PC kamu dan bisa menyesuaikan budget</p>
            <a href="https://api.whatsapp.com/send?phone=6287888787232&text=Halo%2C%20saya%20tertarik%20rakit%20PC%20di%20Vandesky.." class="btn-get-started">Tanya Kami Sekarang <i class="bi bi-whatsapp"></i></a>
          </div>
        </div>
      </div>

    </section><!-- /Beranda Section -->

    <!-- RakitPC Section -->
    <section id="rakitpc" class="rakitpc section">

      <!-- RakitPC Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Apakah kamu ingin rakit PC, yang sesuai dengan harga, performa, dan kualitas?</h2>
        <p>Banyak dari kita yang ingin rakit PC, tapi terkendala oleh berbagai hal. Misalnya, tidak tahu spesifikasi yang dibutuhkan, atau mungkin takut spesifikasi terlalu “mewah” untuk kebutuhan kita yang sebenarnya biasa-biasa saja, alhasil budget yang keluar menjadi banyak. Selain itu, harga rakit PC yang terkadang mahal membuat kita sulit menjangkaunya.</p>
      </div><!-- End RakitPC Title -->

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4">
          <div class="col-lg-6">
            <img src="static/img/vandeskyPC1.jpg" class="img-fluid" alt="rakitpc">
          </div>
          <div class="col-lg-6 content">
            <h3>Faktanya, di VandeskyRakitPC kamu BISA rakit PC dengan budget yang menyesuaikan dan sesuai dengan performa yang maksimal</h3>
            <p class="fst-italic">
              VandeskyRakitPC siap membantu memenuhi kebutuhan dan keinginan kamu. Kami bisa merakitkan PC terbaik untuk kebutuhan seperti gaming, desain, daily office, coding dan lain-lain dengan harga yang menyesuaikan.
            </p>
            <ul>
              <li><i class="bi bi-check2-all"></i> <span>Pengalaman sejak 2016 di Kaskus.</span></li>
              <li><i class="bi bi-check2-all"></i> <span>Jelas dan profesional.</span></li>
              <li><i class="bi bi-check2-all"></i> <span>Dapat menyesuaikan budget.</span></li>
              <li><i class="bi bi-check2-all"></i> <span>Layanan pengiriman Jabodetabek (free maksimal 15km).</span></li>
              <li><i class="bi bi-check2-all"></i> <span>Aman tanpa masalah setelah rakit selesai.</span></li>
            </ul>
          </div>
        </div>

      </div>

    </section><!-- /RakitPC Section -->


    <!-- Anecdote Section -->
    <section id="anecdote" class="anecdote section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>VandeskyRakitPC adalah jasa rakit PC hanya untuk kamu yang ingin PC dengan spesifikasi optimal yang bisa kamu beli</h2>
        <p>Untuk kamu yang seringkali merasa bahwa rakit PC itu mahal, tetapi di lain sisi kamu membutuhkannya, tidak punya waktu untuk antri di toko atau takut mengenai purna jual yang buruk ,maka melihat halaman Vandesky ini mungkin adalah jawaban atas kegelisahan dan masalah kamu tersebut. Kamu bisa rakit PC HARI INI JUGA, karena VandeskyRakitPC mampu menyesuaikan dengan budget serta kebutuhan kamu.</p>
      </div><!-- End Section Title -->

      <div class="container img" data-aos="fade-up" data-aos-delay="100">

        <img src="static/img/vandeskyPC2.png" class="img-fluid" alt="rakitpc">

      </div>

    </section><!-- /Anecdote Section -->


    <!-- Keuntungan Section -->
    <section id="keuntungan" class="keuntungan section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Keuntungan bagi kamu yang menggunakan jasa rakit PC di VandeskyRakitPC</h2>
        <p>Rakit PC di VandeskyRakitPC tentu memiliki keuntungan tersendiri, sehingga ada bedanya dengan rakit PC di tempat lain. Oleh karena itu, disini kita akan menjelaskan apa saja keuntungan bagi kamu yang rakit PC di VandeskyRakitPC:</p>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row gy-4" data-aos="fade-up" data-aos-delay="100">
          <div class="col-md-4">
            <div class="card">
              <div class="img">
                <div class="icon"><i class="bi bi-cpu"></i></div>
              </div>
              <h2 class="title">Performa Pasti TERBAIK</h2>
              <p>
                Kami memberikan performa yang sesuai, bukan yang berlebih-lebihan. Oleh karena itu, ini dapat menghemat pengeluaran kamu dan tidak terlalu "boros" spesifikasi.
              </p>
            </div>
          </div><!-- End Card Item -->

          <div class="col-md-4" data-aos="fade-up" data-aos-delay="200">
            <div class="card">
              <div class="img">
                <div class="icon"><i class="bi bi-check-circle"></i></div>
              </div>
              <h2 class="title">Komponen Pasti AMAN</h2>
              <p>
                VandeskyRakitPC hanya menggunakan komponen-komponen yang bergaransi resmi dan kami hanya memilihkan yang terbaik saja, sehingga awet digunakan untuk selama mungkin.
              </p>
            </div>
          </div><!-- End Card Item -->

          <div class="col-md-4" data-aos="fade-up" data-aos-delay="300">
            <div class="card">
              <div class="img">
                <div class="icon"><i class="bi bi-cash-coin"></i></div>
              </div>
              <h2 class="title">Harga Pasti TERJANGKAU</h2>
              <p>
                TIdak perlu khawatir soal harga, bahkan Vandesky bisa menyesuaikan dengan budget kamu. Inilah salah satu keunggulan dari Vandesky.
              </p>
            </div>
          </div><!-- End Card Item -->

          <div class="col-md-4" data-aos="fade-up" data-aos-delay="400">
            <div class="card">
              <div class="img">
                <div class="icon"><i class="bi bi-screwdriver"></i></div>
              </div>
              <h2 class="title">Teknisi BERPENGALAMAN</h2>
              <p>
                Tidak perlu khawatir soal perakitan PC dikerjakan oleh teknisi yang handal serta perakitan dengan setup airflow yang optimal dan juga cable management yang rapi.
              </p>
            </div>
          </div><!-- End Card Item -->

          <div class="col-md-4" data-aos="fade-up" data-aos-delay="500">
            <div class="card">
              <div class="img">
                <div class="icon"><i class="bi bi-clock"></i></div>
              </div>
              <h2 class="title">Tidak Perlu Membuang WAKTU</h2>
              <p>
                Hanya duduk manis di rumah PC langsung diantar ke rumah tanpa perlu antri berlama-lama di toko dan siap pakai.
              </p>
            </div>
          </div><!-- End Card Item -->

          <div class="col-md-4" data-aos="fade-up" data-aos-delay="600">
            <div class="card">
              <div class="img">
                <div class="icon"><i class="bi bi-list-check"></i></div>
              </div>
              <h2 class="title">SESUAI Dengan Berbagai Macam Kebutuhan</h2>
              <p>
                Baik itu untuk kebutuhan gaming, coding, office, designer dan lain-lain, VandeskyRakitPC bisa memberikan yang terbaik untuk kamu, agar spesifikasi PC nya benar-benar sesuai agar bisa menampilkan performa terbaik.
              </p>
            </div>
          </div><!-- End Card Item -->
        </div>
      </div>
    </section><!-- /Keuntungan Section -->

    <!-- Testimoni Section -->
    <section id="testimoni" class="testimoni section">

      <!-- Testimoni Title -->
      <div class="container section-title" data-aos="fade-up">
        <h3>Testimoni dari Para Pembeli</h3>
      </div><!-- Testimoni Title -->

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4">
          <div class="col-lg-6">
            <img src="static/img/testis11.jpg" class="img-fluid" alt="rakitpc">
            <img src="static/img/testis12.jpg" class="img-fluid" alt="rakitpc">
            <img src="static/img/testis13.jpg" class="img-fluid" alt="rakitpc">
            <img src="static/img/testis14.jpg" class="img-fluid" alt="rakitpc">
            <img src="static/img/testis15.jpg" class="img-fluid" alt="rakitpc">
            <img src="static/img/testis16.jpg" class="img-fluid" alt="rakitpc">
          </div>
          <div class="col-lg-6">
            <img src="static/img/testis21.jpg" class="img-fluid" alt="rakitpc">
            <img src="static/img/testis22.jpg" class="img-fluid" alt="rakitpc">
            <img src="static/img/testis23.jpg" class="img-fluid" alt="rakitpc">
            <img src="static/img/testis24.jpg" class="img-fluid" alt="rakitpc">
            <img src="static/img/testis25.jpg" class="img-fluid" alt="rakitpc">
            <img src="static/img/testis26.jpg" class="img-fluid" alt="rakitpc">
          </div>
        </div>

      </div>

    </section><!-- /RakitPC Section -->

    <!-- Services Section -->
    <section id="kelebihan" class="kelebihan section light-background">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Kelebihan menggunakan VandeskyRakitPC sebagai jasa rakit PC</h2>
        <p>Tentunya, VandeskyRakitPC memiliki kelebihan serta keunggulan yang menjadikannya berbeda dengan tempat rakit PC yang lain. Karena bagi kami, tercapainya harapan pembeli adalah kepuasan kami juga.</p>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="service-item  position-relative">
              <div class="icon">
                <i class="bi bi-cash-coin"></i>
              </div>
              <h3>Biaya jasa terjangkau dan tidak mahal</h3>
              <p>Biaya VandeskyRakitPC sangat terjangkau, bahkan bisa menyesuaikan dengan budget.</p>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="bi bi-display"></i>
              </div>
              <h3>PC siap pakai sudah terinstal windows dan driver tinggal colok listrik saja</h3>
              <p>Tidak usah repot-repot lagi, yang penting kamu terima beres!</p>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="bi bi-clock"></i>
              </div>
              <h3>Dapat dihubungi diluar jam kerja</h3>
              <p>Ada masalah? Tenang, kita dapat dihubungi di luar jam kerja. Aman sentosa.</p>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="400">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="bi bi-gpu-card"></i>
              </div>
              <h3>Apabila terjadi kerusakan barang tidak perlu membuang waktu untuk antri di service center cukup kirim barang</h3>
              <p>Efisien, dan tidak perlu buang-buang waktu. Kami hanya menginginkan kemudahan.</p>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="500">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="bi bi-heart"></i>
              </div>
              <h3>Jujur</h3>
              <p>Salah satu yang agak sulit juga, yaitu kejujuran. Kami tidak memberikan rakitan yang asal mahal, asal bermerk saja. Akan tetapi benar-benar mempertimbangkan banyak aspek.</p>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="600">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="bi bi-grip-vertical"></i>
              </div>
              <h3>Cable management yang baik serta setup airflow casing yang optimal</h3>
              <p>Dirakit teknisi yang sangat berpengalaman.</p>
            </div>
          </div><!-- End Service Item -->

        </div>

      </div>

    </section><!-- /Services Section -->

  </main>

  <footer id="footer" class="footer light-background">
    <div class="container">
      <h3 class="sitename">VandeskyRakitPC</h3>
      <p>VandeskyRakitPC adalah tempat rakit PC yang sudah ada sejak 2016. Kami mengutamakan profesionalitas dan kepuasan. Salah satu keunggulan dari VandeskyRakitPC adalah bisa menyesuaikan dengan budget, dan gratis pengiriman maksimal 15km.</p>
      <div class="social-links d-flex justify-content-center">
        <a href="https://www.facebook.com/vandeskyrakitpc/"><i class="bi bi-facebook"></i></a>
        <a href="https://www.instagram.com/vandeskyrakitpc/"><i class="bi bi-instagram"></i></a>
        <a href="https://api.whatsapp.com/send?phone=6287888787232&text=Halo%2C%20saya%20tertarik%20rakit%20PC%20di%20Vandesky.."><i class="bi bi-whatsapp"></i></a>
      </div>
      <div class="container">
        <div class="copyright">
          <span>Copyright</span> <strong class="px-1 sitename">Vandesky</strong> <span>All Rights Reserved</span>
        </div>
        <div class="credits">
          <!-- All the links in the footer should remain intact. -->
          <!-- You can delete the links only if you've purchased the pro version. -->
          <!-- Licensing information: https://bootstrapmade.com/license/ -->
          <!-- Purchase the pro version with working PHP/AJAX contact form: [buy-url] -->
          Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
        </div>
      </div>
    </div>
  </footer>

  <!-- Scroll Top -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Preloader -->
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="static/vendor/php-email-form/validate.js"></script>
  <script src="static/vendor/aos/aos.js"></script>

  <!-- Main JS File -->
  <script src="static/js/main.js"></script>

</body>

</html>
